.footer {
  padding: 10px;
  left: 0;
  bottom: 0;
  float: left;
  width: 100%;
  background-color: $secondary-color-blue ;
  color: white;
  text-align: center;
  margin-top: 50px;
  p{
    margin: 10px 0;
    color: white;
  }
  a {
    color: #fff !important;
    &:hover{
      color: $background-grey-dark !important;
      text-decoration: none;
    }
  }

}