//Hero Image

.hero-image {
  //background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/seniorenbeirat/fileadmin/Templates/media/images/IMG_6677.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("/fileadmin/Templates/media/images/6625_final.jpg");
  height: 65%;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: $navbar-height;

  .citation {
    position: absolute;
    text-align: center;
    text-shadow: $background-grey 0 0 1.5em;
    top: 30%;
    left: 24%;
    transform: translate(-50%, -50%);

    blockquote {
      font-size: 2.2em;
      margin: 0;

      p {
        color: #fff;
        text-align: left;
        margin: -10px 0 0 0;
      }
    }

    p {
      text-align: end;
      color: #fff;
    }
  }

  @media only screen and (max-width: 1300px) {
    .citation {
      left: 50%;

      blockquote {
        font-size: 1.7em;
      }

      p {
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .citation {
      width: 100%;

      blockquote {
        font-size: 1.5em;

        p {
          margin: -10px 0 0 10%;
        }
      }

      p {
        text-align: center;
      }
    }
  }
  @media only screen and (max-width: 576px) {
    .citation {
      width: 100%;

      blockquote {
        font-size: 1em;
      }
    }
  }
  @media only screen and (max-width: 382px) {
    .citation {
      blockquote {
        p {
          margin: -10px 0 0 3%;
        }
      }
    }
  }
}
