html,
body {
  height: calc(100vh - 97px);
  width: 100%;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif !important;

}


h1 {
  font-size: 2rem !important;

  &.testtest {
    color: $primary-color;
   // text-align: right;
    bottom: 30px;
    position: absolute;
    left: 10%;
    font-size: 4em !important;
    @media only screen and (max-width: 768px) {
      font-size: 2em !important;
      width: 100%;
      text-align: center;
      left: unset;
    }

  }

}

h2 {
  font-size: 1.8rem !important;
  margin-bottom: 1rem !important;
  color: $secondary-color-blue;
}

h3{
  font-size: 1.5rem !important;
  color: $secondary-color-blue !important;
  margin-bottom: 1.5rem !important;
}

h4{
  font-size: 1.2rem !important;
  color: $secondary-color-blue !important;
  a{
    color: $secondary-color-blue !important;
  }
}


p {
  word-break: break-word;
  color: $font-color;
  font-size: 1.1em;
}


ul {
  &.list-normal {
    list-style: none;
    margin-top: 2em !important;
    padding-left: 5%;
    color: $font-color;
    font-size: 1.2em;
    li {
      margin-top: 15px;
    }
  }
}

i {
  margin-right: 10px;
  color: $secondary-color-yellow;
}

.newblock {
  margin-top: 5em;

}

.number{
  float: right;
  font-size: 1.5em;
}

.featurette-divider{
  margin: 3em 0 4em 0;
}

a{
  color: $secondary-color-blue !important;
  &:hover{
    color: $secondary-color-blue-dark !important;
    text-decoration: none !important;
  }
}

button{
  &.btn-primary{
    background-color: $secondary-color-blue;
    border-color: $secondary-color-blue-dark;
    &:hover{
      background-color: $secondary-color-blue-dark;
    }
  }
}

.contenttable{
  td {
    min-width: 220px;
    padding-left: 10px;
    padding-top: 15px;
    padding-right: 10px;
    vertical-align: top;
  }
}