nav {
  &.bg-white {
    background-color: #ffffff;
    border-bottom-style: solid;
    border-width: 3px;
    border-bottom-color: $primary-color;
    box-shadow: 0 0 12px 0 #b7b7b7;
  }

  ul {
    font-size: 1.1em;
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 0 1em !important;
    height: 102px;

    .navbar-collapse {
      height: 100%;

      .form-inline {
        height: 100%;

        .navbar-nav {
          height: 100%;

          li {
            padding: 0 3px;
            &:hover {
              a {
                color: $secondary-color-blue !important;
              }
            }

            a {
              margin-top: 1.3em;
              color: $font-color;
              font-size: 1.1em;

              -webkit-transform: translateZ(0);
              transform: translateZ(0);
              -webkit-backface-visibility: hidden;
              backface-visibility: hidden;
              -moz-osx-font-smoothing: grayscale;
              position: relative;
              overflow: hidden;
              &:before {
                content: "";
                position: absolute;
                z-index: -1;
                left: 50%;
                right: 50%;
                bottom: 0;
                background: $primary-color;
                height: 4px;
                -webkit-transition-property: left right;
                transition-property: left right;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-timing-function: ease-out;
                transition-timing-function: ease-out;
              }
              &:hover:before {
                left: 0;
                right: 0;
              }
            }
          }

        }
      }
    }
  }
}


@media (max-width: 1200px) {
  .navbar {
    .navbar-collapse {
      a {
        margin-top: 0.3em;
        color: $font-color !important;
        font-size: 1.1em;
      }
    }

  }
}



