.news {
  margin-top: 2em;

  .news-preview {
    float: left;
    padding-left: 0 !important;

    .article {
      padding: 0px 1.2em 0 0;
      .teaser-text {
        display: table;
        min-height: 170px;

        a {
          color: $secondary-color-blue;
          display: inline-block;
          font-style: normal;
          font-variant: normal;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;

          &:hover {
            color: $secondary-color-blue-dark;
          }
        }
      }

      .news-header {
        .news-list-date {
          color: $background-grey-dark;
        }

        h3 {
          color: $secondary-color-blue;
          font-size: 1.5rem;

          a {
            color: $secondary-color-blue;
          }
        }
      }

      .news-img-wrap {
        padding: 0 !important;

        a {
          border-style: none;
        }

        img {
          width: 100%;
          border-radius: 1%;
        }
      }

      .news-footer {
        clear: both;
        padding: 10px 0 0 0;
        border-top: 1px solid #eee;
        margin-top: 15px;
        margin-bottom: 2em;
        color: #888;
      }
    }
  }
}

.news-single {
  .article {
    img {
      height: auto;
    }

    .news-img-wrap {
      width: 100%;
      margin: 2em 0;
/*      display: flex;
      justify-content: center;*/
      .outer {
        float: left;
        margin: 2em 0;
        min-height: 270px;
      }

      img {
        width: 100%;
        margin: 0;
      }
    }
  }

  .news-list-date {
    color: $background-grey-dark;
  }

  .news-related-files{
    ul{
      list-style: none;
      a{
        color: $font-color;
        &:hover{
          color: $secondary-color-blue-dark;
          text-decoration: none;
        }
      }
    }
  }

  button{
    border: none;
    border-radius: 3px;
    outline: 0;
    display: inline-block;
    padding: 3px 8px;
    color: white;
    background-color: $secondary-color-blue;
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;

    &:hover {
      background-color: $secondary-color-blue-dark;
      color: white;
    }
  }
}

//Kontaktformular:
.frame-type-form_formframework{
  h2{
    font-size: 1.5rem !important;
    color: $secondary-color-blue !important;
    margin-bottom: 1.5rem !important;
  }
  .btn-primary{
    border-color: $secondary-color-blue;
  }
  .btn-cancel{
    background-color: $background-grey;
    border-radius: 2.25px 0px 0px 2.25px !important;

    &:hover{
      background-color: darken($background-grey-dark, 5%);
    }
  }


  .form-group{
    legend{
      font-weight: 500;
      line-height: 1.2;
      font-size: 1.5rem !important;
      color: $secondary-color-blue !important;
      margin-bottom: 1.5rem !important;
    }
  }
}