// Colors
//$brand-red: #CD1719;

$primary-color: #85bb22;
$primary-color-light: #A2D955;
$primary-color-dark: #6E943A;

$secondary-color-yellow: #fabb32;
$secondary-color-blue: #006ca4;
$secondary-color-blue-dark: #2D4A69;

$background-light: #f5f5f5;
$background-grey: #E8E8E8;
$background-grey-dark: #9E9E9E;

$font-color: #454545;


$navbar-height: 97px;