<nav class="navbar navbar-expand-xl navbar-light bg-white fixed-top">
    <a class="navbar-brand" href="#"><img href="#" src="fileadmin/Templates/media/images/Seniorenbeirat-Vaterstetten-Logo.png" width="200" class="d-inline-block align-top" alt="Seniorenbeirat"> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="form-inline my-2 my-xl-0">
            <f:format.raw>{navigation}</f:format.raw>
        </div>
    </div>
</nav>