

<div class="test-image">
    <h1 class="testtest">
        <f:format.raw>{data.title}</f:format.raw>
    </h1>
</div>


<main role="main">
    <div class="container container-unterseite">
        <div class="row">
            <div class="col-lg-12">
                <f:format.raw>{contentTop}</f:format.raw>
            </div>
        </div>
    </div>
</main>
