<div class="test-image">
    <h1 class="testtest">
        <f:format.raw>{data.title}</f:format.raw>
    </h1>
</div>


<main role="main">
    <div class="container container-unterseite">
        <div class="row">
            <div class="col-lg-6 img">
                <img src="fileadmin/Templates/media/images/automobile.png" alt="Auto">
            </div>


            <div class="col-lg-6">
                <h2>Wie funktioniert unser Fahrdienst</h2>
                <p>Der Fahrdienst für Senioren ist ein Service des "Förderverein FSV" welcher jeder Senior nutzen
                    kann.</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>


            <div class="col-lg-12 newblock">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores
                    et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="col-lg-12 newblock">

           <!--     <input type="text" value="Hello Luis" id="myInput">

                <button onclick="myFunction()">Copy text</button>-->

                <div class="number">
                    <p><i class="fas fa-phone-square"></i> 0176 / 1234567</p>
                </div>
            </div>
        </div>
    </div>
</main>
