<div class="test-image">
    <h1 class="testtest">
        <f:format.raw>{data.title}</f:format.raw>
    </h1>
</div>


<main role="main">
    <div class="container container-unterseite">
        <div class="row">
            <div class="col-lg-6 img">
                <img src="fileadmin/Templates/media/images/veranstaltungen.jpg">
            </div>


            <div class="col-lg-6">
                <h2>Der Beirat und seine Ziele</h2>
                <p>Wir möchten helfen, in der Gemeinde Vaterstetten ein gesellschaftliches Umfeld zu schaffen, in dem
                    Senioren ihr Leben möglichst lange selbstbestimmt gestalten können! </p>
                <p> Wir arbeiten ehrenamtlich, überparteilich, überkonfessionell und verbandsunahängig.</p>
                <p> Wir beraten den Gemeinderat und die Verwaltung in allen Seniorenangelegenheiten.</p>
            </div>


            <div class="col-lg-12 newblock">
                <h2>Wir geben Hinweise:</h2>
                <ul class="list-normal">
                    <li><i class="fas fa-caret-right"></i>zum geselligen Miteinander in unserer Gemeinde</li>
                    <li><i class="fas fa-caret-right"></i>zu Hilfestellungen, sich in der digitalen Welt zurecht zu
                        finden
                    </li>
                    <li><i class="fas fa-caret-right"></i>zu Beratungsangeboten die Themen Vorsorgevollmacht und
                        Patientenverfügung betreffend
                    </li>
                    <li><i class="fas fa-caret-right"></i>zu Beratungsangeboten zum Thema Wohnraumumgestaltung</li>
                    <li><i class="fas fa-caret-right"></i>zu Möglichkeiten der Palliativ-Versorgung</li>
                    <li><i class="fas fa-caret-right"></i>zu Beratungsangeboten alle sonstigen für Senioren relevanten
                        Themen betreffend
                    </li>
                </ul>
            </div>
            <div class="col-lg-12 newblock">
                <h2>Wir kümmern uns z.B. um:</h2>
                <ul class="list-normal">
                    <li><i class="fas fa-caret-right"></i>die Verbesserung des Angebots an öffentlichen Toiletten</li>
                    <li><i class="fas fa-caret-right"></i>die Verbesserung der Verkehrssicherheit für Senioren</li>
                    <li><i class="fas fa-caret-right"></i>die Überprüfung des Angebots an Ruhebänken</li>
                    <li><i class="fas fa-caret-right"></i>und noch vieles mehr</li>
                </ul>
            </div>
            <div class="col-lg-12 newblock">
                <h2>Unsere Mitglieder:</h2>
                <ul class="list-normal">
                    <li><i class="fas fa-caret-right"></i>Hans Günter Kempf (1. Vorsitzender)</li>
                    <li><i class="fas fa-caret-right"></i>Herma Schlömer von Düsterlho</li>
                    <li><i class="fas fa-caret-right"></i>Wilhelm Koch</li>
                    <li><i class="fas fa-caret-right"></i>Helmut Schlund</li>
                    <li><i class="fas fa-caret-right"></i>Marie Luise Bömerl</li>
                    <li><i class="fas fa-caret-right"></i>Angela Gäbel</li>
                    <li><i class="fas fa-caret-right"></i>Günther Lölkes</li>
                    <li><i class="fas fa-caret-right"></i>Beate Milde-Schmitz</li>
                </ul>
            </div>
        </div>

    </div>

</main>
