<div class="hero-image">
    <div class="citation">
        <blockquote><p> &laquo; Jede Lebensphase bietet die</p>
            <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;Möglichkeit neu anzufangen &raquo;</p>
        </blockquote>
        <p>Rita Süßmuth</p>
    </div>
</div>


<main role="main">
    <div class="album py-5">
        <div class="container-fluid hero-two">
            <div class="container">
                <div class="row featurette">
                    <div class="col-lg-7">
                        <h1 class="featurette-heading"><b>Herzlich Willkommen</b> <span class="text-muted">auf der Seite des Seniorenbeirats Vaterstetten</span>
                        </h1>
                        <div class="lead">
                            <f:format.raw>{contentWelcome}</f:format.raw>
                        </div>
                    </div>
                    <!--Platzhalter für Background-Image-->
                    <div class="col-lg-5">
                    </div>
                </div>
            </div>
        </div>
        <div class="container cards-container">
            <div class="row hskb">

                <f:format.raw>{contentSeitenvorschau}</f:format.raw>

            </div>
            <div id="news-startpage">
                <hr class="featurette-divider">

                <f:format.raw>{contentNews}</f:format.raw>
            </div>
        </div>
    </div>

</main>
