<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
	<f:render partial="Bullets/Type-{data.bullets_type}" arguments="{_all}" />
</f:section>
</html>
