<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="Header">

    <f:if condition="{data.layout} == 1">
        <f:then>
            <div class="col-md-6 col-lg-4">
                <div class="card mb-5 shadow-sm">
                    <f:link.typolink parameter="{data.header_link }">
                        <f:if condition="{files.0}">
                            <f:then>
                                <svg class="bd-placeholder-img card-img-top aboutus-img" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url({f:uri.image(image:files.0, width: '600c')})" width="100%" height="225">
                                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                    focusable="false"
                                    role="img" aria-label="Placeholder: Thumbnail"><title>{data.header}</title>

                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="cards-headline">{data.header}</text>
                                </svg>
                            </f:then>
                            <f:else>
                                <svg class="bd-placeholder-img card-img-top fallback-img" width="100%" height="225">
                                    xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                                    focusable="false"
                                    role="img" aria-label="Placeholder: Thumbnail"><title>{data.header}</title>

                                    <text x="50%" y="50%" fill="#eceeef" dy=".3em" class="cards-headline">{data.header}</text>
                                </svg>
                            </f:else>
                        </f:if>

                    </f:link.typolink>
                    <div class="card-body">
                        <div class="card-text"><f:format.raw>{data.bodytext}</f:format.raw></div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <f:link.typolink parameter="{data.header_link }">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Mehr erfahren
                                    </button>
                                </f:link.typolink>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{gallery.position.noWrap} != 1">
                <f:render partial="Header/All" arguments="{_all}"/>
            </f:if>
        </f:else>
    </f:if>


</f:section>
<f:section name="Main">
    <f:if condition="{data.layout} != 1">

        <div class="ce-textpic ce-{gallery.position.horizontal} ce-{gallery.position.vertical}{f:if(condition: gallery.position.noWrap, then: ' ce-nowrap')}">
            <f:if condition="{gallery.position.vertical} != 'below'">
                <f:render partial="Media/Gallery" arguments="{_all}"/>
            </f:if>

            <f:if condition="{data.bodytext}">
                <f:then>
                    <div class="ce-bodytext">
                        <f:if condition="{gallery.position.noWrap}">
                            <f:render partial="Header/All" arguments="{_all}"/>
                        </f:if>
                        <f:format.html>{data.bodytext}</f:format.html>
                    </div>
                </f:then>
                <f:else>
                    <f:if condition="{gallery.position.noWrap}">
                        <f:if condition="{data.header}">
                            <div class="ce-bodytext">
                                <f:render partial="Header/All" arguments="{_all}"/>
                            </div>
                        </f:if>
                    </f:if>
                </f:else>
            </f:if>

            <f:if condition="{gallery.position.vertical} == 'below'">
                <f:render partial="Media/Gallery" arguments="{_all}"/>
            </f:if>
        </div>
    </f:if>
</f:section>
</html>
