h1.featurette-heading {
  color: $primary-color;

  .text-muted {
    color: $primary-color !important;
  }
}


.lead {
  font-size: 1.25rem;
  font-weight: 300;
  p{
    font-size: inherit;
  }
}

.hero-two {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0)), url(/fileadmin/Templates/media/images/ahorn4.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  padding-bottom: 200px;
  padding-top: 70px;
  margin-bottom: 20px;

  @media only screen and (max-width: 768px) {
    background-size: cover;
    background-position: top left;
  }

  @media only screen and (max-width: 1200px) {
    background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.6)), url(/fileadmin/Templates/media/images/ahorn4.jpg);
  }
}

.album{
  margin-top: 8em;
  padding-top: 0 !important;
  .cards-container{
    margin-top: 4em;
  }
}

.album .hskb .card-img-top {
  &:hover {
    opacity: 0.8;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  &.fallback-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/fileadmin/Templates/media/images/6625_final.jpg);
  }

  /*&.aboutus-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/fileadmin/Templates/media/images/P1230053.JPG);
  }

  &.fahrdienst-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/fileadmin/Templates/media/images/strasse.jpg);
  }

  &.veranstaltungen-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/fileadmin/Templates/media/images/veranstaltungen.jpg);
  }

  &.wohnen-im-alter-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/fileadmin/Templates/media/images/wohnen_im_alter.jpg);
  }
  &.mitmachen-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/fileadmin/Templates/media/images/mitmachen.jpg);
  }

  &.kontakt-img {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/fileadmin/Templates/media/images/kontakt.jpg);
  }*/
}


@media (max-width: 2939px) and (min-width: 1439px) {
  .album .hskb .card {
    min-height: 450px;
  }
}

.album .hskb .card-img-top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.album .hskb .cards-headline {
  font-size: 25px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.album .hskb button {
  border: none;
  border-radius: 3px;
  outline: 0;
  display: inline-block;
  padding: 3px 8px;
  color: white;
  background-color: $primary-color;
  text-align: center;
  cursor: pointer;
  transition: 0.4s ease;
  -webkit-transition: 0.4s ease;

  &:hover {
    background-color: $primary-color-dark;
    color: white;
  }
}