.container-unterseite {
  min-height: 65vh;
  margin-top: 5em;
  @media only screen and (max-width: 1024px) {
    margin-top: 3em;
  }

  img {
    margin: 0 20px 20px 20px;
    @media only screen and (max-width: 768px) {
      width: 100%;
      height: auto;
      margin: 0;
    }
  }


  .ce-gallery {
    @media only screen and (max-width: 768px) {
      margin: 5px 5px 30px 5px;
    }
    @media only screen and (max-width: 1024px) {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  .news {
    img {
      margin: 0;
    }
  }


  .headline {
    margin: 6em 0 3em 0;

    h1 {
      color: $primary-color;
      opacity: 0.5;
      font-weight: bold;
      text-align: right;
      @media (max-width: 991.98px) {
        font-size: 33px;
      }

    }

  }

  iframe {
    width: 100%;
  }
}

.test-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0)), url(/fileadmin/Templates/media/images/background8.png);
  height: 235px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  margin-top: $navbar-height;
}

.frame-type-form_formframework {
  margin-bottom: 5em;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.right {
  .frame-layout-0 {
    margin-right: auto;
    margin-left: auto;
    width: 65%;
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
    @media only screen and (min-width: 768px) {
      @media only screen and (max-width: 1023px) {
        width: 90%
      }
    }

  }
}